* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    border:0;
  }

body{
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  color:#4d4e53;
  display:block;
  background-color: #fff;
}

body{
  display: block;
  margin:8px;
}

header{
  font-size: 1.8rem;
  font-weight: 700;
}

section article{
  color:#4d4e53;
  margin:15px;
}

p{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 1.1rem;
}

ul{
  list-style: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li{
  display: list-item;
  padding-bottom: 10px;
  text-align: -webkit-match-parent;
}

a{
  text-decoration: none;
  color:#177bbe;
}

a:hover{
  color:#03498a;
}
/* 
pre code{
  font-family: "PT Sans", 'Courier New', Courier, monospace;
  display: block;
  text-align: left;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color: #f7f7f7;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  overflow-wrap: break-word;
} */


p code, li code{
  font-family: "PT Sans", 'Courier New', Courier, monospace;
  display: inline-block;
  text-align: left;
  white-space: pre-line;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  background-color: #f7f7f7;
  border-radius: 5px;
}

hr{
  border: solid;
  color:#f7f7f7;
  border-width: 5px 0 0;
  margin-bottom: 40px;
  margin-top:20px;
}

#main-doc{
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

@media only screen and (max-width: 400px) {
  #main-doc{
    padding: 10px;
  }

  pre code {
    width: 100%;
    padding: 15px;
    padding-left: 10px;
    padding-right: 45px;
    min-width: 233px;
  }
}

.red{
  color: #a31515;
}

.green{
  color:#298200;
}

.purple{
  color:#af00dd;
}

.blue{
  color:#177bbe;
}